.AccountPage
  .Main-AccountPage
    .Main-AccountPage__move
      .Main-AccountPage__move--title
        %p.newText  新規ユーザ登録
      .AccountPage__title
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .AccountPage__title--main
            .field
              = f.label :名前
              %br/
              = f.text_field :name, autofocus: true, autocomplete: "name",class: 'field__box'
            .field
              = f.label :メールアドレス
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email",class: 'field__box'
            .field
              = f.label :"パスワード(6文字以上)"
              %br/
              = f.password_field :password, autocomplete: "new-password",class: 'field__box'
            .field
              = f.label :"パスワード(確認)"
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password",class: 'field__box'
            %br/
            .actions
              = f.submit "登録",class: 'actions__box'
          = render "devise/shared/links"
