.AccountPage
  .Main-AccountPage
    .Main-AccountPage__move
      .Main-AccountPage__move--title
        %p.newText  ログイン
      .AccountPage__title
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .AccountPage__title--main
            .field
              = f.label :メールアドレス
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email",class: 'field__box'
            .field
              = f.label :パスワード
              %br/
              = f.password_field :password, autocomplete: "current-password",class: 'field__box'
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label :パスワードを記憶しますか？
            .actions
              = f.submit "ログイン",class: 'actions__box'
          = render "devise/shared/links"
