= render 'header'
.main
  .card-display
    %ul.card-display__box
      %li
        %a{href: "#content01"} 新着文書
      %li
        %a{href: "#content02"} インフラ
      %li
        %a{href: "#content03"} 転職
      %li
        %a{href: "#content04"} プログラミング
      %li
        %a{href: "#content05"} 画像
    .contents
      #content01
        .ProductLists
          - @cards.each do |card|
            .ProductList
              =link_to card_path(card.id), class: 'ProductList__body' do
                .type
                  = card.type.name
                .name
                  = card.title
                .user
                  = card.user.name


      #content02
        .ProductLists
          - @cards_i.each do |card|
            .ProductList
              =link_to card_path(card.id), class: 'ProductList__body' do
                .type
                  = card.type.name
                .name
                  = card.title
                .user
                  = card.user.name
      #content03
        .ProductLists
          - @cards_t.each do |card|
            .ProductList
              =link_to card_path(card.id), class: 'ProductList__body' do
                .type
                  = card.type.name
                .name
                  = card.title
                .user
                  = card.user.name
      #content04
        .ProductLists
          - @cards_p.each do |card|
            .ProductList
              =link_to card_path(card.id), class: 'ProductList__body' do
                .type
                  = card.type.name
                .name
                  = card.title
                .user
                  = card.user.name
      #content05
        .ProductLists
          - @cards_g.each do |card|
            .ProductList
              =link_to card_path(card.id), class: 'ProductList__body' do
                .type
                  = card.type.name
                .name
                  = card.title
                .user
                  = card.user.name

.footer
  FileーShelf