
= form_for @card do |f|
  %label.Content__title__name 文書選択
  = f.file_field :url
  %label.Content__title__name タイトル
  = f.text_field :title
  %label.Content__title__name カテゴリー
  = f.collection_select(:type_id, Type.all, :id, :name,{prompt: "選択してください"}, class: "Content__AField" )
  %label.Content__title__name フリーワード
  = f.text_field :free
  = f.submit '登録する'


  